*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
   
}
.navbar-expand-lg{
    justify-content: flex-end;
    padding-left:40px;
    
}
.navbar-light{
    background-color: rgb(66, 66, 173);
    font-size: 18px; 
}
.navlink{
    color:white;
    padding:12px 20px;
    list-style-type: none;
    display:block;     
}
.navlink:hover{
    background-color: darkblue;
    color:chartreuse;
    text-decoration: none;
}
.navbar-brand{ 
    display:none ;
}
.navbar-toggler{
    background-color:rgba(238, 247, 247, 0.995);
}
