*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin:0;

    background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80")
    
        
        
 background-color:#f0f8ff;
 margin-left: 30px  ;
}


.head-title {
    border-style: solid;
    width: 300px;
    background-color: rgb(157, 125, 221);
   padding-top: 10px;
   padding-right: 20px;
   padding-bottom: 10px;
   padding-left: 20px;
    color:#f0f8ff;
}

.head-des{
    height: none;
    width: 30px;


   

}


.row {
  margin: 2rem;
  padding: 2rem 2rem;
  text-align: center;
}
.column {
  display: inline-block;
  border: 1px solid black;
  padding: 1rem 1rem;
  vertical-align: middle;
  column-gap: 85px;
  background-color: lightgoldenrodyellow;
}

.navbar-expand-lg{
    justify-content: flex-end;
    padding-left:40px;
    
}
.navbar-light{
    background-color: rgb(66, 66, 173);
    font-size: 18px; 
}
.navlink{
    color:white;
    padding:12px 20px;
    list-style-type: none;
    display:block;     
}
.navlink:hover{
    background-color: darkblue;
    color:chartreuse;
    text-decoration: none;
}
.navbar-brand{ 
    display:none ;
}
.navbar-toggler{
    background-color:rgba(238, 247, 247, 0.995);


}

.summary {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 4px;
    height: 40em;
    flex-wrap: wrap;
}

.head-summ {
    padding: .25em;
}

#btn-summ{
    margin-left: 5%;
    height: 30px;
    margin-top: 1%;
}

.img-summ {
    height: 24em;
    width: 28em;
    border: 2px solid black;
    margin-left: 3%;
    border-radius: 5px;
    text-align: center;
    padding: 6px;
    vertical-align: center;
    background-color: rgb(0, 0, 0, 0.03)
}

.center{
    margin-top: 30%;
}

img {
    width: 100%;
    height: auto;
}


.body-summ {
    height: 24em;
    background-color: rgb(0, 0, 0, 0.03);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 5px;
    padding: 6px;
    margin-bottom: 2%;
}


#footer {
    width: 100%;
}

@media only screen and (max-width: 750px) {
    .summary {
        flex-wrap: nowrap;
    }
    .body-summ {
        width: auto;
        margin-left: 3%;
    }
    .head-summ.row {
        margin-left: 3%;
    }
}
    
    /* background-image: url("https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80") */

img{
    width: 300px;
}
/* .project {
    display: flex;
   
} */
.task_mngr .calc{
    margin-top: 80px;
    display: flex;
}
#info{
     padding: 10%;
   
}
#img-form{
    padding-top: 10%;
}


 /*------------------------- RESUME -------------------------*/
 .resume h3 i {
    padding-right: 0.75rem;
  }
  .resume .timeline-box {
    padding: 1rem 0;
  }
  .timeline-content p {
    margin-bottom: 0 !important;
  }
  .resume .timeline-year {
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0.25rem;
  }